<h1>Listing terms</h1>

<dl>
  <dt>Documents</dt>
  <dd><%= Document.count %></dd>
  
  <dt>Number of Distinct Terms</dt>
  <dd><%= Term.count %></dd>

  <dt>Number of Postings</dt>
  <dd><%= Posting.count %></dd>
  
  <dt>Number of Tokens</dt>
  <dd><%= terms = Position.count %></dd>
</dl>
  

<table>
  <tr>
    <th>Rank</th>
    <th>Term</th>
    <th>Absolute<br/>Frequency</th>
    <th>Relative<br/>Frequency</th>
    <th>Document<br/>Frequency</th>
  </tr>

<% @terms.each_with_index do |term, i| %>
  <tr>
    <td><%= i + 1 %></td>
    <td><%= term.term %></td>
    <td><%= term.freq %></td>
    <td><%= number_to_percentage( 100 * term.freq.to_f / terms) %></td>
    <td><%= term.doc_freq %></td>
  </tr>
<% end %>
</table>

