<p id="notice"><%= notice %></p>

<p>
  <b>Term:</b>
  <%= @term.term %>
</p>

<p>
  <b>Doc freq:</b>
  <%= @term.doc_freq %>
</p>


<%= link_to 'Edit', edit_term_path(@term) %> |
<%= link_to 'Back', terms_path %>
