<h1>Listing documents</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Url</th>
    <th>Content</th>
    <th>Distinct Terms</th>
    <th>Tokens</th>
  </tr>

<% @documents.each do |document| %>
  <tr>
    <td><%= document.title %></td>
    <td><%= document.url %></td>
    <td><%= document.content.slice(0,250) + "..." %></td>
    <td><%= document.postings.count %></td>
    <td><%= document.postings.sum('term_freq') %></td>
  </tr>
<% end %>
</table>

